/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * Use utility classes for small, single-purpose classes that should always take precedence over any other style. 
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

/* Daisy UI - Home page image boxes */
.card.image-full:before {
	opacity: 0.65;
	@apply rounded-none;
}
.card.image-full:hover::before {
	opacity: 0;
}

/* Daisy UI Home Page Hero Section */

/* .hero-overlay {
	@apply bg-gradient-to-l from-base-100;
	background-color: hsl(var(--n) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0;
} */

/* Form container styling (more specific than div.wpcf7) */

.career-form {
	@apply mx-auto mt-16 grid w-max grid-cols-3 items-start gap-0;
}

/* .career p {
	@apply bg-red-400;
} */

/* 'NU' Button */

.btn-nu {
	@apply inline-block rounded border border-white bg-nu-black px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:bg-nu-black;
}

.rainbow {
	background: linear-gradient(to right, #048abf, #add96c, #ff8500, #d90d91);
}

.hideme {
	@apply hidden;
}
