/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * Use utility classes for small, single-purpose classes that should always take precedence over any other style. 
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

:root {
	--rainbow-color: linear-gradient(
		to right,
		#048abf,
		#add96c,
		#ff8500,
		#d90d91
	);
}

/* Text Scroller animation. Used in: Home Page */

.text-scroll-wrapper {
	will-change: transform;
	animation: marquee-horizontal 40s linear infinite;
}
.text-scroll-wrapper div {
	@apply mr-[2.5rem];
}

@keyframes marquee-horizontal {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

/* Testing this for the splash screen */

#splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #060606;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 1;
	transition: opacity 1s ease-out;
}
#splash-screen-alt {
	opacity: 0;
	pointer-events: none;
}
#splash-screen.hide {
	opacity: 0;
	pointer-events: none;
}

/* #page {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease-in-out, visibility 0s 1s;
}

#splash-screen.hide ~ #page {
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease-in-out;
} */
